<div class="container-fluid mt-5">
    <div class="row p-3 mr-3 ml-3 d-flex justify-content-center" style="width: inherit;">
        <div class="accordion w-50" id="accordionExample">
            <div class="accordion-item border-0 border-bottom">
                <h2 class="accordion-header" id="headingOne">
                    <button class="btn btn-outline-success h-100 text-center w-100 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Registrar Proveedor <i class="bi bi-truck"></i>
              </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-center">
                        <form action="" class="border p-3 mb-3">
                            <div class="row d-flex justify-content-around mb-3">
                                <div class="col-md-6">
                                    <label for="contacto-proveedor" class="form-label">Contacto: </label>
                                    <input type="text" name="contactoProveedor" class="form-control" id="contacto-proveedor">
                                </div>
                                <div class="col-md-6">
                                    <label for="direccion" class="form-label">Dirección: </label>
                                    <input type="text" name="direccion" class="form-control" id="direccion">
                                </div>
                            </div>
                            <div class="row d-flex justify-content-around mb-3">
                                <div class="col-md-6">
                                    <label for="denominacion" class="form-label">Denominacion: </label>
                                    <input type="text" name="denominacion" class="form-control" id="denominacion">
                                </div>
                                <div class="col-md-6">
                                    <label for="telefono" class="form-label">Telefono: </label>
                                    <input type="text" name="telefono" class="form-control" id="telefono">
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit">Registrar Proveedor</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Denominación</th>
                    <th scope="col">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>